In [8]:
# this is a comment
import sklearn
#import keras
import matplotlib.pyplot as plt

In [9]:
#to print something
print("Hello World")

Hello World

In [13]:
organization = "bayAI"
location = "hackerDojo"

In [15]:
"{} is held at {}".format(organization,location)

'bayAI is held at hackerDojo'

In [17]:
print ("Bay AI"[0])
print ("Bay AI"[1])
print ("Bay AI"[2])

B
a
y

In [19]:
"bay AI"[4:]

'AI'

In [26]:
courses = ["math", "science", ['a','b', 'c']]

In [21]:
courses

('math', 'science')

In [28]:
courses.append("CS")

In [29]:
courses

['math', 'science', ['a', 'b', 'c'], 'CS', 'CS']

In [32]:
t=(1,2,3)
print(t[0])

1

In [31]:
nums = (1,2,3,4,5,6)
for item in nums:
    print(item)

1
2
3
4
5
6

In [33]:
i= 1
while i<10:
    print("counting {}".format(i))
    i+=1

counting 1
counting 2
counting 3
counting 4
counting 5
counting 6
counting 7
counting 8
counting 9

In [34]:
to_be_squared = [1,2,3,4,5,6,7,8,9]
print([item**2 for item in to_be_squared])

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [35]:
#functions
import math

def compute_sin(x_input):
    return math.sin(x_input)


print(compute_sin(math.pi))

1.2246467991473532e-16

In [37]:
#lambda expression
compute_sin_lambda = lambda x_input: math.sin(x_input)
print (compute_sin_lambda(math.pi))

1.2246467991473532e-16

In [38]:
sum_3 = lambda x, y, z: x+y+z
print(sum_3(1,2,3))

6

In [41]:
seq = list(range(25))
print(seq)
print(list(map(compute_sin, seq)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24]
[0.0, 0.8414709848078965, 0.9092974268256817, 0.1411200080598672, -0.7568024953079282, -0.9589242746631385, -0.27941549819892586, 0.6569865987187891, 0.9893582466233818, 0.4121184852417566, -0.5440211108893698, -0.9999902065507035, -0.5365729180004349, 0.4201670368266409, 0.9906073556948704, 0.6502878401571168, -0.2879033166650653, -0.9613974918795568, -0.7509872467716762, 0.14987720966295234, 0.9129452507276277, 0.8366556385360561, -0.008851309290403876, -0.8462204041751706, -0.9055783620066238]

In [48]:
#filter function
#useful for selecting elements that meet specific criterias

names = [
    "bob",
    "Joe",
    "Mike",
    "Timmy",
    "Tom",
    "Nikunj"
]

print (names)


print(list(filter(lambda word: word[0] == "N", names)))

['bob', 'Joe', 'Mike', 'Timmy', 'Tom', 'Nikunj']
['Nikunj']

In [47]:
import pandas as pd